# See http://help.github.com/ignore-files/ for more about ignoring files.
# for employee-front

# Compiled output
/employee-front/dist
/employee-front/tmp
/employee-front/out-tsc
/employee-front/bazel-out

# Node
/employee-front/node_modules
/employee-front/npm-debug.log
/employee-front/yarn-error.log

# IDEs and editors
/employee-front/.idea/
/employee-front/.project
/employee-front/.classpath
/employee-front/.c9/
/employee-front/*.launch
/employee-front/.settings/
/employee-front/*.sublime-workspace

# Visual Studio Code
/employee-front/.vscode/*
!/employee-front/.vscode/settings.json
!/employee-front/.vscode/tasks.json
!/employee-front/.vscode/launch.json
!/employee-front/.vscode/extensions.json
/employee-front/.history/*

# Miscellaneous
/employee-front/.angular/cache
/employee-front/.sass-cache/
/employee-front/connect.lock
/employee-front/coverage
/employee-front/libpeerconnection.log
/employee-front/testem.log
/employee-front/typings

# System files
/employee-front/.DS_Store
/employee-front/Thumbs.db

# employee-app

/employee-app/.vscode/*
!/employee-app/.vscode/settings.json
!/employee-app/.vscode/tasks.json
!/employee-app/.vscode/launch.json
!/employee-app/.vscode/extensions.json
/employee-app/.history/*


