version: "3.3"
services:
  mysqldb:
    networks:
      - employee_net
    container_name: mysqldb
    image: mysql:5.7
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=Employee_db
      - MYSQL_USER=RODRIGUE
      - MYSQL_PASSWORD=password
    volumes:
      - db:/var/lib/mysql

  employee-backend:
    networks:
      - employee_net
    depends_on:
      - mysqldb
    container_name: employee-api
    volumes:
      - backend_vol:/app
    build:
      context: employee-app/
      dockerfile: Dockerfile
    ports:
      - "9090:8080"
    environment:
      - MYSQL_HOST=mysqldb
    restart: unless-stopped

  employee-frontend:
    depends_on:
      - employee-backend
    networks:
      - employee_net
    container_name: employee-ihm
    ports:
      - "81:80"
    volumes:
      - frontend_vol:/usr/share/nginx/html
    build:
      context: employee-front/
      dockerfile: Dockerfile

  registry:
    networks:
      - employee_net
    container_name: registry
    ports:
      - "8500:5000"
    image: "registry:2"

  registry-ui:
    depends_on:
      - registry
    networks:
      - employee_net
    image: joxit/docker-registry-ui
    restart: always
    ports:
      - 82:80
    environment:
      - SINGLE_REGISTRY=true
      - REGISTRY_TITLE="ULRICH RODRIGUE KAMGAING"
      - DELETE_IMAGES=true
      - SHOW_CONTENT_DIGEST=true
      - NGINX_PROXY_PASS_URL=http://registry:5000
      - SHOW_CATALOG_NB_TAGS=true
      - TAGLIST_PAGE_SIZE=10
      - REGISTRY_SECURED=false
      - CATALOG_ELEMENTS_LIMIT=10
    container_name: registry-ui

  sublime-text:
    image: jessfraz/sublime-text-3
    container_name: sublime-text
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix"
    network_mode: host
    restart: unless-stopped

volumes:
  db:
  backend_vol:
  frontend_vol:

networks:
  employee_net:
    driver: bridge
