dist/
tmp/
out-tsc/
bazel-out/

node_modules/
npm-debug.log
yarn-error.log


.angular/
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings

.vscode/*

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
